.section-principal {
  padding-top: var(--header-height);
  display: flex;
  justify-content: space-around;
}

.section-principal .col-1 .inicio-saludo {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.1;
  color: rgb(var(--color-yellow) / 1);
}

.section-principal .col-1 .inicio-nombre {
  font-family: 'OliveVillage';
  color: rgb(var(--color-pink) / 1);
}

.section-principal .col-1 .descripcion {
  font-weight: bold;
  color: rgb(var(--color-blue) / 1);
}

.section-principal .col-1 .descripcion-2 {
  font-weight: bold;
  padding-top: 2rem;
}

.section-principal .col-1 .locacion {
  padding-top: 2rem;
}

.section-principal .col-1 .locacion a {
  display: flex;
  align-items: center;
}

.section-principal .col-1 .locacion img {
  display: inline-block;
  width: 1rem;
  margin-right: 0.5rem;
}

.section-principal .col-2 {
  text-align: center;
}

.section-principal .col-2 img {
  width: 70%;
  display: inline-block;
}

.section-principal .col-2 .box-contactos {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1.5rem;
}

.section-sobre-mi {
  display: flex;
  position: relative;
  top: calc(var(--header-height) * -1);
  padding-top: var(--header-height);
}

.section-sobre-mi .imagen-educacion img {
  width: 40dvw;
}

.section-sobre-mi .descripcion-sobremi {
  margin-top: var(--header-height);
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: justify;
}

.section-sobre-mi h2 {
  font-family: 'OliveVillage';
  font-size: 3rem;
  text-align: center;
  line-height: 1.1;
}

.section-sobre-mi .descripcion-universidad {
  border: 1px solid rgb(var(--color-blue) / 1);
  border-radius: 0.75rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 3rem;
}

.section-sobre-mi .descripcion-universidad span {
  font-weight: bold;
}

.section-sobre-mi .descripcion-subtitulo {
  font-weight: bold;
  color: rgb(var(--color-blue) / 1);
  margin-top: 2rem;
}

.section-software {
  display: flex;
  position: relative;
  top: -10rem;
}

.section-software .col-1 {
  width: 50dvw;
}

.section-software .col-1 h2 {
  font-family: 'OliveVillage';
  font-size: 3rem;
  text-align: center;
}

.section-software .software-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 5rem;
  margin-top: 2rem;
  gap: 2rem;
}

.section-software .software-item {
  width: 50%;
  display: flex;
  line-height: 1.1;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.section-software .software-item img {
  width: 35%;
  margin-right: 0.75rem;
}

.section-software .software-1 span,
.section-software .software-4 span {
  color: rgb(var(--color-blue) / 1);
}

.section-software .software-2 span,
.section-software .software-3 span {
  color: rgb(var(--color-yellow) / 1);
}

.section-portafolio {
  position: relative;
  top: calc(var(--header-height) * -1);
  padding-top: var(--header-height);
}

.section-portafolio h2 {
  font-family: 'OliveVillage';
  font-size: 4.5rem;
  text-align: center;
}

.section-portafolio .trabajos-box-images,
.section-portafolio .trabajos-box-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

.section-portafolio .trabajos-box-images .trabajo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-portafolio .trabajos-box-images img {
  max-width: 25dvw;
}

.section-portafolio .trabajos-box-text {
  font-size: 1.8rem;
  line-height: 0.9;
  font-weight: bold;
  position: relative;
  top: -2rem;
}

.section-portafolio .trabajos-box-text span {
  font-family: 'OliveVillage';
  font-size: 4rem;
}

.section-portafolio .trabajos-box-text .trabajo-span-1 {
  color: rgb(var(--color-pink) / 1);
}

.section-portafolio .trabajos-box-text .trabajo-span-2 {
  color: rgb(var(--color-blue) / 1);
}

.section-portafolio .trabajos-box-text .trabajo-span-3 {
  color: rgb(var(--color-yellow) / 1);
}
